@using CivL.Models

@model CivL.ViewModels.Laws.IndexViewModel

@{
    ViewBag.Title = "Laws";
}

@section styles
{
    @Styles.Render("~/Content/DataTables/css/bundle")
}

<h1>Laws</h1>

<h3>All Laws</h3>

<table id="allLaws" class="table table-bordered table-click table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Updated By</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Law law in Model.AllLaws)
        {
            <tr data-law-id="@law.ID">
                <td>@law.ID</td>
                <td>@law.Name</td>
                <td>@law.UserID</td>
                <td>@law.UpdateDate</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="~/Laws/New">Create New Law</a>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/Scripts/Laws/index.js")
}